${wordpress-dir}
${wp-plugin-dir}
/wordpress
/target
.directory
.project
.classpath
.buildpath
.extract
.idea
*.iml
*.log*
.DS_Store
.sass-cache
build.local.properties
_notes
dwsync.xml
.settings
facebook_oauth.properties
facebook_result.properties
src/main/resources/downloads
/generated-wp-salts.php
*~
/serverdata
.externalToolBuilders
.ant-targets-build.xml
changelog-initial.sql
